# Mengabaikan folder node_modules
node_modules/

# Mengabaikan file log
*.log

# Mengabaikan file yang dibuat oleh editor (misalnya, VSCode)
.vscode/

# Mengabaikan file konfigurasi sistem (misalnya, macOS)
.DS_Store
